body {
    color:rgb(255, 255, 255);
    font-family: "Ancizar Serif";
    text-align: center;
    overflow-x: hidden;
}

.header{
    padding: 20px;
    background-color: rgb(85, 155, 235);
    background-size: cover;             
    background-position: center;
    margin: 0px;
    color: white;
  }

#logoelbarrio{
  width: 20%;
  height: auto;
  display: flex; /* Alinea los elementos en fila */
  align-items: center; /* Centra verticalmente el logo y el texto */
  justify-content: center; /* Centra horizontalmente el contenedor */
  gap: 10px; /*  Espacio entre el logo y el texto */
  margin-left: 40px;
  margin-top: -25px;
  margin-bottom: -25px;
}


#colonav {
  margin-left: 15px; /* Elimina márgenes adicionales */
  margin-top: 19px ; /* Ajusta este valor para subir el texto */
  color: white;

}

#navtext{
    color:black;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4); 

    font-size: 25px;
}

.carousel{
    margin-left: -7px;
    margin-right: -17px; 
    padding: 0%;
    margin-top: 40px; /* Ajusta el valor según lo que necesites */
    position: relative;
    top: -40px;
  
}


#color{
  color:  rgb(0, 0, 0);
  font-size: 45px;
  font-family: "Rubik";
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4); 
}

.titulo{
  z-index: 2;

 
 
}

#donar-btn {
      background-color: #ff6b6b;
      color: rgb(0, 0, 0);
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4); 
      padding: 15px 30px;
      border: none;
      border-radius: 15px;
      font-size: 23px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;
      background-color:rgb(85, 155, 235);
      margin-top: 10px;
      box-shadow: 0 4px 8px rgb(255, 255, 255);
    }

.inicio{
  color: rgb(0, 0, 0);
  text-align: justify;
  font-size: 20px;
  
}


#logo{
  width: 75%;
  height: auto;
  margin-bottom: 5px;
  margin-top: -72px;
}

#ONGDPAElBarrio{
  width: 80px;
  margin-top: 10px;
}

#ONGDPAElBarrio2{
  width: 92px;
  margin-top: 10px;

}

#parrafo{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 50px;
  
}

#parrafocenter{
  text-align: center;
   color: rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 15px;
  margin-left: 8px;

}

#parrafocenter2{
  text-align: center;
   color: rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 5px;
  margin-left: 8px;
}

#Sitio{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  text-shadow: 0 0 5px rgba(108, 226, 255, 0.8), 
               0 0 10px rgba(0, 247, 255, 0.6), 
               0 0 15px rgba(0, 225, 255, 0.4); 
  
}


#ONGDPAElBarrio3{
  width: 100%;
  margin-top: 5px;
}

.footer{
  background-color: rgb(0, 0, 0);
}

#log{
  width: 15%;
}

#log1{
  width: 15%;
}

#mundo{
  width: 45%; 
}